<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>NagoyaMeshi</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container nagoyameshi-container pb-5">
				<div class="row justify-content-center">
					<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							<li class="breadcrumb-item active" aria-current="page">有料プラン登録</li>
						</ol>
					</nav>

					<h1 class="mb-3 text-center">有料プラン登録</h1>

					<!-- 有料プランの説明 -->
					<div class="card mb-4">
						<div class="card-header text-center">
							有料プランの内容
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">・当日の2時間前までならいつでも予約可能</li>
							<li class="list-group-item">・店舗をお好きなだけお気に入りに追加可能</li>
							<li class="list-group-item">・レビューを全件閲覧可能</li>
							<li class="list-group-item">・レビューを投稿可能</li>
							<li class="list-group-item">・月額たったの300円</li>
						</ul>
					</div>

					<hr class="mb-4">

					<!-- エラーメッセージ表示エリア -->
					<div id="card-error" class="alert alert-danger" style="display:none;"></div>

					<!-- 有料プランフォーム -->
					<form id="card-form">
						<input id="card-holder-name" type="text" placeholder="カード名義人" required
							class="form-control mb-3">
						<div id="card-element" class="form-control mb-3"></div>
						<button class="btn btn-primary w-100" id="card-button">登録</button>
					</form>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

	<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1Qht8mFoKQ3torxMtpQ4NGJx"
  publishable-key="pk_test_51QJQLVFoKQ3torxMB1X4ARDwjc16EJx5v5E96bUy7nWAr0G5Yjeegh38FBEfXsTKzVbqLneYzcAEgmBARt1y4trL00ThM6o4D9"
>
</stripe-buy-button>
</body>

</html>